
.nav-bar{
	left: 0;
	right: 0;
	padding: 20px;
	background-color: #EEEEEE;
	border-bottom: 5px solid #DDDDDD;
	height: 50px;
}
.nav-link {
  	font-size: 18px;
  	padding: 10px;
}
.top-nav {
  	position: absolute;
  	right: 10px;
  	top: 60px;
}
.logo-img{
	position: absolute; 
	top: 15px;
}
h1{
	margin-left: 100px; 
}
label {
	margin-bottom: 8px;
	display: block;
	font-size: 20px; 
}
.search-section {
	padding-top: 30px; 
	margin-left: 40px; 
}
.search-button {
	border: 2px solid #DDDDDD;
  	border-radius: 3px;
  	padding: 3px;
  	vertical-align: bottom; 
}
#search {
	border: 2px solid #DDDDDD;
  	border-radius: 3px;
  	padding: 3px;
  	width: 275px;
}
.pages{
	border: 1px solid #DDDDDD;
	display: inline-block;
	padding: 5px 20px;
  	border-radius: 3px;
  	font-size: 18px;
  	margin-left: 40px;
}
.pages-display{
	border-left: 1px solid #DDDDDD;
  	border-right: 1px solid #DDDDDD;
  	padding: 5px
}
a:hover {
	text-decoration: underline; 
}
.listing {
	list-style: none;
	font-size: 15px;
}
.listing-title {
	text-decoration: none; 
}
